*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    background-color: rgb(44, 62, 80);
    color: white;
    height: 55px;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.manager-name{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
    margin-right: 2rem;
}
.manager-photo{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.logo{
    width: 150px;
    margin-left: 1%;
}
main{
    display: flex;
    width: 100%;
}
.sidebar{
    background-color:rgb(44, 62, 80);;
    height: calc(100%-6vh-55px);
    width: 17vw;
}
.side-ul{
    display: flex;
    flex-direction: column;
   justify-content: center;
   margin-left: 3%;
   gap: 5vh;
   padding-top: 5vh;
   

}

li a{
    text-decoration: none;
    color: white;
    font-size: 1.35rem;
}

.material-symbols-outlined{
    color: white;
}

.Li{
    display: flex;
    align-items: center;
    gap: .35rem;
}
.Li:hover{
    background-color: #34495e;
    padding: .4rem;
}

.active{
    background-color: #34495e;
    padding: .4rem;
}
.footer{
    height: 6vh;
    background-color: rgb(44, 62, 80);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    width: 83vw;
    background-color: rgb(236, 240, 241);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.box1{
    height: 16vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boxes{
    width: 17vw;
    height: 8vh;
    border-radius: .5rem;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
.box2{
    height: 45vh;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: .5rem;
}


.box3{
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: .5rem;
}

.box2 h2{
    padding-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.table-content{
    margin: 1rem;
}

.box3 h2{
    padding-bottom: 1rem ;
    padding-left: 1rem;
}
.box3 p{
    padding-left: 2rem;
}

.box4{
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: white;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: .5rem;
}

.box4 h2{
    padding-left: 1rem;
}
.box4 p{
    padding-left: 2rem;
}